In [4]:
import pandas as pd

In [5]:
r_cols = ['user_id', 'movie_id','rating', 'timestamp']

In [6]:
ratings = pd.read_csv("u.data", sep = "\t", names = r_cols)

In [7]:
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [8]:
ratings[ratings['user_id']==196]

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
940        196       393       4  881251863
1133       196       381       4  881251728
1812       196       251       3  881251274
1896       196       655       5  881251793
2374       196        67       5  881252017
6910       196       306       4  881251021
7517       196       238       4  881251820
7842       196       663       5  881251911
10017      196       111       4  881251793
10254      196       580       2  881252056
10981      196        25       4  881251955
13733      196       286       5  881250949
14606      196        94       3  881252172
16834      196       692       5  881252017
17102      196         8       5  881251753
17830      196       428       4  881251702
18853      196      1118       4  881252128
21605      196        70       3  881251842
22271      196        66       3  881251911
22773      196       257       2  881251577
23189      196       108       4  881252110
24030      196       202       3  881251728
25726      196       340       3  881251045
32721      196       287       3  881251884
33536      196       116       3  881251753
35197      196       382       4  881251843
36281      196       285       5  881251753
41539      196      1241       3  881251642
42384      196      1007       4  881251601
50147      196       411       4  881252090
52726      196       153       5  881251820
56628      196        13       2  881251955
59165      196       762       3  881251955
59607      196       173       2  881251820
60199      196      1022       4  881251143
60706      196       845       4  881251954
78787      196       269       3  881250949
87863      196       110       1  881252305

In [9]:
### 196 user rated 39 movies

In [10]:
ratings[ratings['movie_id']==242]

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
253         63       242       3  875747190
629        226       242       5  883888671
1232       154       242       3  879138235
2159       306       242       5  876503793
...        ...       ...     ...        ...
95720      305       242       5  886307828
96237      845       242       4  885409493
97046      500       242       3  891916883
99260      720       242       4  891262608
99759      721       242       3  877137597

[117 rows x 4 columns]

In [11]:
## 117 people given the rating for movie 242

In [12]:
ratings['user_id'].nunique()

943

In [13]:
ratings['movie_id'].nunique()

1682

In [14]:
ratings.shape

(100000, 4)

In [15]:
# 943 people rated 1682 movies and the total number of ratings given are 100000

In [16]:
### knn basic and another one SVD (singular value decomposition)

In [17]:
### surprise library

In [18]:
import surprise

In [19]:
## user_id, movie_id and rating

In [20]:
ratings = ratings.drop("timestamp",axis=1)

In [21]:
ratings

       user_id  movie_id  rating
0          196       242       3
1          186       302       3
2           22       377       1
3          244        51       2
4          166       346       1
...        ...       ...     ...
99995      880       476       3
99996      716       204       5
99997      276      1090       1
99998       13       225       2
99999       12       203       3

[100000 rows x 3 columns]

In [22]:
### reader object 
## reader object hepls in parsing the dataframe for ratings

In [23]:
from surprise import Reader, Dataset

In [24]:
reader = Reader()

In [25]:
data = Dataset.load_from_df(ratings, reader)

In [34]:
data

<surprise.dataset.DatasetAutoFolds object at 0x7f7b4fc495a0>

SVD

In [27]:
from surprise import SVD

In [28]:
algo = SVD()

In [29]:
from surprise.model_selection import cross_validate

In [30]:
cross_validate(algo, data, measures= ["RMSE"], cv = 5 , verbose = True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9298  0.9416  0.9382  0.9337  0.9374  0.9362  0.0040
Fit time          0.86    0.89    0.88    0.88    0.89    0.88    0.01
Test time         0.09    0.14    0.08    0.10    0.15    0.11    0.03

{'test_rmse': array([0.92984004, 0.94158785, 0.93824638, 0.93371382, 0.93741084]),
 'fit_time': (0.8585453033447266,
  0.8856973648071289,
  0.8843989372253418,
  0.8790328502655029,
  0.8877849578857422),
 'test_time': (0.08730173110961914,
  0.1383988857269287,
  0.08232903480529785,
  0.09793806076049805,
  0.1487720012664795)}

In [31]:
from surprise import KNNBasic

In [32]:
knn_algo = KNNBasic()

In [33]:
cross_validate(knn_algo, data, measures= ["RMSE"], cv = 5 , verbose = True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9756  0.9804  0.9789  0.9811  0.9787  0.9789  0.0019
Fit time          0.36    0.40    0.41    0.38    0.40    0.39    0.02
Test time         2.10    2.25    2.13    2.12    2.18    2.16    0.05

{'test_rmse': array([0.97560906, 0.98038506, 0.97888279, 0.98112435, 0.978659  ]),
 'fit_time': (0.36403512954711914,
  0.4029068946838379,
  0.40651535987854004,
  0.37821197509765625,
  0.39577674865722656),
 'test_time': (2.101593494415283,
  2.2494847774505615,
  2.132540464401245,
  2.115827798843384,
  2.180576801300049)}