In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('meta-data-movies.csv')
df.head(20)

,title,genres,runtime,vote_average,vote_count,year,overview,id,cast,crew,keywords,director,soup
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his ...",862,"['tomhanks', 'timallen', 'donrickles']","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","['jealousy', 'toy', 'boy']",johnlasseter,jealousy toy boy tomhanks timallen donrickles ...
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995,When siblings Judy and Peter discover an encha...,8844,"['robinwilliams', 'jonathanhyde', 'kirstendunst']","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","['boardgame', 'disappearance', ""basedonchildre...",joejohnston,boardgame disappearance basedonchildren'sbook ...
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995,A family wedding reignites the ancient feud be...,15602,"['waltermatthau', 'jacklemmon', 'ann-margret']","[{'credit_id': '52fe466a9251416c75077a89', 'de...","['fishing', 'bestfriend', 'duringcreditsstinger']",howarddeutch,fishing bestfriend duringcreditsstinger walter...
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995,"Cheated on, mistreated and stepped on, the wom...",31357,"['whitneyhouston', 'angelabassett', 'lorettade...","[{'credit_id': '52fe44779251416c91011acb', 'de...","['basedonnovel', 'interracialrelationship', 's...",forestwhitaker,basedonnovel interracialrelationship singlemot...
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995,Just when George Banks has recovered from his ...,11862,"['stevemartin', 'dianekeaton', 'martinshort']","[{'credit_id': '52fe44959251416c75039ed7', 'de...","['baby', 'midlifecrisis', 'confidence']",charlesshyer,baby midlifecrisis confidence stevemartin dian...
5,Heat,"['action', 'crime', 'drama']",170.0,7.7,1886.0,1995,"Obsessive master thief, Neil McCauley leads a ...",949,"['alpacino', 'robertdeniro', 'valkilmer']","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","['robbery', 'detective', 'bank']",michaelmann,robbery detective bank alpacino robertdeniro v...
6,Sabrina,"['comedy', 'romance']",127.0,6.2,141.0,1995,An ugly duckling having undergone a remarkable...,11860,"['harrisonford', 'juliaormond', 'gregkinnear']","[{'credit_id': '52fe44959251416c75039da9', 'de...","['paris', 'brotherbrotherrelationship', 'chauf...",sydneypollack,paris brotherbrotherrelationship chauffeur har...
7,Tom and Huck,"['action', 'adventure', 'drama']",97.0,5.4,45.0,1995,"A mischievous young boy, Tom Sawyer, witnesses...",45325,"['jonathantaylorthomas', 'bradrenfro', 'rachae...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",[],peterhewitt,jonathantaylorthomas bradrenfro rachaelleighc...
8,Sudden Death,"['action', 'adventure', 'thriller']",106.0,5.5,174.0,1995,International action superstar Jean Claude Van...,9091,"['jean-claudevandamme', 'powersboothe', 'doria...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","['terrorist', 'hostage', 'explosive']",peterhyams,terrorist hostage explosive jean-claudevandamm...
9,GoldenEye,"['adventure', 'action', 'thriller']",130.0,6.6,1194.0,1995,James Bond must unmask the mysterious head of ...,710,"['piercebrosnan', 'seanbean', 'izabellascorupco']","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","['cuba', 'falselyaccused', 'secretidentity']",martincampbell,cuba falselyaccused secretidentity piercebrosn...
10,The American President,"['comedy', 'drama', 'romance']",106.0,6.5,199.0,1995,"Widowed U.S. president Andrew Shepherd, one of...",9087,"['michaeldouglas', 'annettebening', 'michaelj....","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","['whitehouse', 'usapresident', 'newlove']",robreiner,whitehouse usapresident newlove michaeldouglas...
11,Dracula: Dead and Loving It,"['comedy', 'horror']",88.0,5.7,210.0,1995,When a lawyer shows up at the vampire's doorst...,12110,"['leslienielsen', 'melbrooks', 'amyyasbeck']","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...","['dracula', 'spoof']",melbrooks,dracula spoof leslienielsen melbrooks amyyasbe...
12,Balto,"['family', 'animation', 'adventure']",78.0,7.1,423.0,1995,An outcast half-wolf risks his life to prevent...,21032,"['kevinbacon', 'bobhoskins', 'bridgetfonda']","[{'credit_id': '593f24b9c3a3680369002371', 'de...","['wolf', 'dog-sleddingrace', 'alaska']",simonwells,wolf dog-sleddingrace alaska kevinbacon bobhos...
13,Nixon,"['history', 'drama']",192.0,7.1,72.0,1995,An all-star cast powers this epic look at Amer...,10858,"['anthonyhopkins', 'joanallen', 'powersboothe']","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","['usapresident', 'presidentialelection', 'wate...",oliverstone,usapresident presidentialelection watergatesca...
14,Cutthroat Island,"['action', 'adventure']",119.0,5.7,137.0,1995,"Morgan Adams and her slave, William Shaw, are ...",1408,"['geenadavis', 'matthewmodine', 'franklangella']","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","['exoticisland', 'treasure', 'map']",rennyharlin,exoticisland treasure map geenadavis matthewmo...
15,Casino,"['drama', 'crime']",178.0,7.8,1343.0,1995,The life of the gambling paradise – Las Vegas ...,524,"['robertdeniro', 'sharonstone', 'joepesci']","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","['poker', 'drugabuse', '1970s']",martinscorsese,poker drugabuse 1970s robertdeniro sharonstone...
16,Sense and Sensibility,"['drama', 'romance']",136.0,7.2,364.0,1995,"Rich Mr. Dashwood dies, leaving his second wif...",4584,"['katewinslet', 'emmathompson', 'hughgrant']","[{'credit_id': '52fe43cec3a36847f807101f', 'de...","['bowling', 'basedonnovel', 'servant']",anglee,bowling basedonnovel servant katewinslet emmat...
17,Four Rooms,"['crime', 'comedy']",98.0,6.5,539.0,1995,It's Ted the Bellhop's first night on the job....,5,"['timroth', 'antoniobanderas', 'jenniferbeals']","[{'credit_id': '52fe420dc3a36847f800011b', 'de...","['hotel', ""newyear'seve"", 'witch']",allisonanders,hotel newyear'seve witch timroth antoniobander...
18,Ace Ventura: When Nature Calls,"['crime', 'comedy', 'adventure']",90.0,6.1,1128.0,1995,"Summoned from an ashram in Tibet, Ace finds hi...",9273,"['jimcarrey', 'ianmcneice', 'simoncallow']","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...","['africa', 'indigenous', 'humananimalrelations...",steveoedekerk,africa indigenous humananimalrelationship jimc...
19,Money Train,"['action', 'comedy', 'crime']",103.0,5.4,224.0,1995,A vengeful New York transit cop decides to ste...,11517,"['wesleysnipes', 'woodyharrelson', 'jenniferlo...","[{'credit_id': '52fe44509251416c750305a1', 'de...","['brotherbrotherrelationship', 'subway', 'newy...",josephruben,brotherbrotherrelationship subway newyorkcity ...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22136 entries, 0 to 22135
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         22135 non-null  object
 1   genres        22136 non-null  object
 2   runtime       22100 non-null  float64
 3   vote_average  22135 non-null  float64
 4   vote_count    22135 non-null  float64
 5   year          22136 non-null  int64
 6   overview      21970 non-null  object
 7   id            22136 non-null  int64
 8   cast          22136 non-null  object
 9   crew          22136 non-null  object
 10  keywords      22136 non-null  object
 11  director      21904 non-null  object
 12  soup          22136 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 2.2+ MB

In [6]:
df.isna().sum()

title             1
genres            0
runtime          36
vote_average      1
vote_count        1
year              0
overview        166
id                0
cast              0
crew              0
keywords          0
director        232
soup              0
dtype: int64

In [10]:
df[df['director'].isna()]

,title,genres,runtime,vote_average,vote_count,year,overview,id,cast,crew,keywords,director,soup
189,The Show,['documentary'],93.0,5.3,2.0,1995,A documentary about the culture of hip-hop. Th...,56088,"['kurtisblow', 'seancombs', 'snoopdogg']",[],[],NaN,kurtisblow seancombs snoopdogg documentary
614,A Modern Affair,[],90.0,5.0,1.0,1996,A Modern Affair is an independent feature dire...,123505,"['lisaeichhorn', 'stanleytucci', 'carolineaaron']",[],[],NaN,lisaeichhorn stanleytucci carolineaaron
635,Happy Weekend,['comedy'],NaN,0.0,0.0,1996,NaN,339428,"['erikgoertz', 'antonrattinger', 'dieterwardet...",[],"['sex', 'adultery', 'groupsex']",NaN,sex adultery groupsex erikgoertz antonrattinge...
661,Tarantella,[],100.0,0.0,0.0,1996,Academy Award winner Mira Sorvino plays photog...,318177,[],[],[],NaN,
718,War Stories Our Mother Never Told Us,[],95.0,0.0,0.0,0,Seven New Zealand women speak about their live...,365371,[],[],[],NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21815,Bare Knuckles,"['action', 'adventure', 'drama']",0.0,6.0,1.0,2010,Women will go to extreme lengths for those the...,38746,"['jeanetteroxborough', 'martinkove', 'louisman...",[],[],NaN,jeanetteroxborough martinkove louismandylor ...
21845,Dance of Outlaws,[],85.0,0.0,0.0,0,A film about a woman who doesn’t exist. Morocc...,455027,[],[],[],NaN,
21913,Resurrecting the Street Walker,[],80.0,4.0,3.0,2009,"Whilst documenting his life as a lowly intern,...",41443,['jamespowell'],[],[],NaN,jamespowell
21934,Year Zero: The Silent Death of Cambodia,['documentary'],52.0,7.5,1.0,1979,John Pilger vividly reveals the brutality and ...,175953,['johnpilger'],"[{'credit_id': '57f9f50d925141212b004c3a', 'de...",[],NaN,johnpilger documentary
22082,Disfigured,['drama'],96.0,4.0,1.0,2008,Lydia is an overweight sales clerk in a trendy...,83059,"['deidraedwards', 'stacilawrence', 'ryanc.bens...",[],[],NaN,deidraedwards stacilawrence ryanc.benson drama