Question 1 - Write a python program to convert temperature in Fahrenheit

In [30]:
temp_celsius = int(input("Temperature in celsius :"))
temp_fahr = (temp_celsius * 9 / 5) + 32
print("Temperature in fahrenheit is : ", temp_fahr)

Temperature in fahrenheit is :  100.4

Question 10 - Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10, 60, 70,
50,83,567,50,81)

In [13]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
count = 0
for num in tuple1:
    if num == 50:
        count += 1

print(count)

3

Question 9 - Write a program to copy elements 44 and 55 from the following tuple into a new tuple. Given:
tuple1 = (11, 22, 33, 44, 55, 66)

In [14]:
tuple2 = (11, 22, 33, 44, 55, 66)
tuple3 = tuple2[3:5]
tuple3

(44, 55)

Question 8 - Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.

sample_dict = {

'emp1': {'name': 'Jhon', 'salary': 7500},

'emp2': {'name': 'Emma', 'salary': 8000},

'emp3': {'name': 'Brad', 'salary': 500}
}

In [15]:
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

Question 7 - Write a program to rename a key city to a location in the following dictionary.

sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

In [17]:
sample_dict2 = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
sample_dict2["city"] = "Washington DC"
sample_dict2

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'Washington DC'}

Question 6 - Python program to insert a number to any position in a list (Get the number to be inserted
and position from the user)

In [20]:
list1 = [11, 22, 33, 44, 55, 66]
num = int(input("Number to be inserted :"))
pos = int(input("Index to be inserted :"))
list1.insert(pos, num)
print(list1)

[11, 5, 22, 33, 44, 55, 66]

Question 5 - Write a python program to find the average of 5 numbers

In [24]:
numbers = (11, 22, 33, 44, 55)
avg = sum(numbers) / len(numbers)
print(avg)

33.0

Question 4 - Write a Python program to get the largest number from a list.

In [26]:
input_num = [12, 3, 47, 10]
print(max(input_num), "is the largest number.")

47 is the largest number.

Question 2 - WAP in python find the area of a triangle

In [27]:
length = int(input("Length of the triangle :"))
breadth = int(input("Breadth of the triangle :"))
area = length * breadth / 2
print(area)

36.0

Question 3 - Write a Python Program to accept the details of a student like name, roll number and
mark and display it.

In [28]:
name = input("Enter the name :")
roll_no = input("Enter the roll number :")
mark = input("Enter the mark :")

print("Name : ", name)
print("Roll No : ", roll_no)
print("Mark : ", mark)

Name :  Neeraj
Roll No :  7
Mark :  76