In [6]:
import textblob  as TextBlob
import pandas as pd

In [7]:
df = pd.DataFrame([['The interim budget for 2019 will be announced on 1st February.'], ['Do you know how much expectation the middle-class working population is having from this budget?'], ['February is the shortest month in a year.'], ['This financial year will end on 31st March.']])
df.columns = ['text']
df.head()

                                                text
0  The interim budget for 2019 will be announced ...
1  Do you know how much expectation the middle-cl...
2          February is the shortest month in a year.
3        This financial year will end on 31st March.

In [8]:
def add_num_words(df):
    df['number_of_words'] = df['text'].apply(lambda x : len(TextBlob(str(x)).words))
    return df

In [11]:
def is_present(wh_words, df):
 
    # The below line of code will find the intersection between set of tokens of
    #  every sentence and the wh_words and will return true if the length of intersection
    #  set is non-zero.
    df['is_wh_words_present'] = df['text'].apply(lambda x : True if \
                                                 len(set(TextBlob(str(x)).words).intersection(wh_words))>0 else False)
    return df

In [12]:
wh_words = set(['why', 'who', 'what', 'which', 'where', 'when','how'])

In [15]:
def detect_language(df):
    df['lang'] = df['text'].apply(lambda x : TextBlob(str(x)).detect_language)
    return df

In [13]:
corpus = [
        'Data Science is an overlap between Arts and Science',
        'Generally, Arts graduates are right-brained and Science graduates are left-brained',
        'Excelling in both Arts and Science at a time becomes difficult',
        'Natural Language Processing is a part of Data Science']

In [29]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [22]:
bow_model = CountVectorizer()

In [23]:
dense_vec_matrix = bow_model.fit_transform(corpus).todense()

In [25]:
bow_df = pd.DataFrame(dense_vec_matrix)

In [26]:
bow_df.columns

RangeIndex(start=0, stop=26, step=1)

In [27]:
bow_df.columns = sorted(bow_model.vocabulary_)

In [28]:
bow_df

,an,and,are,arts,at,becomes,between,both,brained,data,...,language,left,natural,of,overlap,part,processing,right,science,time
0,1,1,0,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,2,0
1,0,1,2,1,0,0,0,0,2,0,...,0,1,0,0,0,0,0,1,1,0
2,0,1,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0,1,...,1,0,1,1,0,1,1,0,1,0

In [30]:
tfidf_model = TfidfVectorizer()

In [31]:
tf_dense_vec_matrix = tfidf_model.fit_transform(corpus).todense()

In [32]:
tfidf_df = pd.DataFrame(tf_dense_vec_matrix)

In [33]:
tfidf_df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.403328,0.257439,0.000000,0.257439,0.000000,0.000000,0.403328,0.000000,0.000000,0.317989,...,0.000000,0.000000,0.000000,0.000000,0.403328,0.000000,0.000000,0.000000,0.420947,0.000000
1,0.000000,0.159139,0.498644,0.159139,0.000000,0.000000,0.000000,0.000000,0.498644,0.000000,...,0.000000,0.249322,0.000000,0.000000,0.000000,0.000000,0.000000,0.249322,0.130107,0.000000
2,0.000000,0.224449,0.000000,0.224449,0.351643,0.351643,0.000000,0.351643,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.183502,0.351643
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.308872,...,0.391765,0.000000,0.391765,0.391765,0.000000,0.391765,0.391765,0.000000,0.204439,0.000000